.test {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 95%;
	max-width: 500px;
	border: 2px solid orangered;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	margin: 100px auto;
	font-size: 1.5rem;

	&__description {
		font-size: 1rem;
		color: blueviolet;
	}
}
